.header {
  width: 100%;
  text-align: center;
}

.main {
  margin: 10px;
  width: calc(100% - 20px);
  height: 90%;
  background-color: #ededed;
  border-radius: 10px;

  .send-money-wrapper {
    background-color: #e0e0e0;
    border-radius: 10px;
  }
}